@charset "utf-8";
.header1 {
    height: 150px;
    background-color: #494893;
    color: #EBDC8C;
    text-align: center;
}
.header1 .h1 {
    padding-top: 50px;
    padding-bottom: 50;
    height: 50px;
    font-size: 48px;
}
.body.footer h6 {
    text-align: center;
    height: 25px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 15px;
    color: #ffb1f4;
}
.body.main section {
    height: auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff88f4;
    padding: 20px;
}
.body.main section h2 {
    padding-bottom: 20px;
}
section p a:link ,section b a:visited{
    color: #E32352;
    font-style: oblique;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-variant: small-caps;
}
.body.main section p {
    padding-bottom: 20px;
}
section ul li {
    background-color: #0895C7;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    width: 90px;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 50px;
    border: 5px double #ff88f4;
    font-size: small;
    text-decoration: none;
}


section p a:hover {
    color: #1A7607;
    font-size: 18px;
}

.header1, body nav, body main, body footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body nav {
    height: 130px;
    background-color: #0c3a6f;
    color: #ffb1f4;
}
.body_main {
    background-color: #ffb1f4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.body.footer {
    background-color:#494893;
    height: 50px;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 20% 20%;
    background-repeat: no-repeat;
}
#form1 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: bold;
    width: 550px;
    height: 200px;
}
#form1 label {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
#form1 input[type=text] {
    height: 20px;
    /* [disabled]min-width: 20px; */
    width: 300px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.btn_style          {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-variant: normal;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    background-color: #AC7DB3;
    color: #F8F5F5;
}
#form2 #email {
    background-color: #8DD7DD;
    color: #2B2929;
    font-size: 15px;
}






#marcador1 {
}
#marcador2 {
}
#marcador3 {
}
section ul li {
    width: 150px;
    margin-left: 10px;
    margin-right: 20px;
}

#marcador4 {
}
.menu_interno {
}
.menu_interno li:link {
    color: #BDD0E7;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
    width: 0px;
}
ul li a:hover {
    color: #A2D8A6;
    font-weight: bolder;
    text-decoration: none;
    width: 100px;
}
.body.nav.ul.li1 .body.nav.ul.li1 a {
    width: 50px;
    height: 100px;
    background-color: #494893;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin-left: 50px;
    border-radius: 40px;
    border: 3px groove #D7132B;
}


.tabla_1 {
    border: 3px solid #0F1B56;
    background-color: #E7E0A5;
    border-collapse: collapse;
}
.tabla_1 thead tr th {
    border: 2px solid #1E6A13;
    background-color: #C89544;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    height: 80px;
}
.tabla_1 tbody tr td {
    border: 2px solid #B39D29;
    background-color: #2E833A;
    text-align: center;
    padding: 10px;
    height: 55px;
}
.tabla_1 tfoot tr td {
    border: 2px ridge #B42023;
    background-color: #C93526;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
    border-collapse: collapse;
}
#tabla2 {
    border-color: #DD101D;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-width: 3px;
}
#tabla2 th {
    padding: 15px;
    width: 50px;
}
#tabla2 tbody {
    padding: 100px;
}



#tabla3 {
    background-color: #BD1417;
    color: #FFFFFF;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#tabla3 td:nth-child(even) {
    background-color: #EFCE66;
    color: #1B0E0F;
}
#tabla3 td:nth-child(odd) {
    background-color: #12697D;
    text-align: center;
}
#tabla2 tr:nth-child(even) {
    background-color: #FF943C;
}
#tabla2 tbody tr:nth-child(odd) {
    background-color: #C95B24;
}
#tabla2 th, #tabla2 tfoot {
    background-color: #FFDE4C;
}



#tabla3 td {
    padding: 10px;
    width: 200px;
}
#tabla4 {
    width: 80px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFAEA1;
}
#tabla4 th , #tabla4 tfoot tr{
    background-color: #3F0D03;
    padding: 20px;
    color: #FFF471;
}

#tabla4 tbody tr:hover {
    background-color: #50B044;
}
#tabla5 {
    border-collapse: collapse;
    border-color: #003E7A;
}
#tabla5 tbody td,#tabla5 tbody tr:nth-child(even) {
    padding: 10px;
    background-color: #5AB86F;
    text-align: center;
}
#tabla5 tbody tr:hover {
    background-color: #FFD27E;
    color: #566107;
}

#tabla5 tfoot {
    background-color: #FFAE91;
    padding: 20px;
    text-align: center;
    width: 30px;
}


#tabla5 thead {
    padding: 10px;
    width: 90px;
    background-color: #003E7A;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#tabla5 tbody td:nth-child(odd) {
    padding: 10px;
    background-color: #007B69;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #FCFCFC;
}
#menu {
}
#menu li {
    width: auto;
    height: 40px;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 11px;
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: #EFE76D;
    border-color: #E31D20;
    border-style: groove;
    text-align: center;
    color: #1F3497;
    font-style: normal;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#menu li:hover {
}
.sectionnuevo { height: auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #B8D4FF;
    padding: 20px;
}
.imagen2 {
    border: 15px solid #7C90FF;
    border-radius: 30px;
    /* [disabled]width: 5px; */
    margin-left: auto;
    margin-right: auto;
}
#img_flotder {
    float: right;
    width: 25%;
    height: 25%;
    padding-left: 10px;
}
#img_flotizq {
    float: left;
    width: 25%;
    height: 25%;
    padding-right: 10px;
    padding-top: 10px;
}
.parrafo {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

#img_fondo {
    color: #FFFFFF;
    background-attachment: fixed;
    background-image: url(imagenes/hd-wallpaper-g476b6875f_1920.jpg);
}
.imgfiltro {
    width: 25%;
    height: auto;
    padding: 10px;
}
#img_grises {
    filter: grayscale(100%);
}
#img_invert {
    filter: invert(100%);
}
#img_saturacion {
    filter: saturate(50%);
}
#img_sepia {
    filter: sepia(100%);
}
#img_opacidad {
    filter: opacity(50%);
}
#img_contraste {
    filter: contrast(30%);
}
#img_brillo {
    filter: brightness(50%);
}
#img_blur {
    filter: blur(5px);
}
#img_multiplesfiltros {
    filter: contrast(50%);
    filter: brightness(100%);
}
.img_sombra {
    width: 40%;
    height: auto;
    -webkit-box-shadow: 8px 12px 20px -2px #000000;
    box-shadow: 8px 12px 20px -2px #000000;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video1 {
    width: 100%;
    height: 100%;
}
.comentario {
    width: 400px;
    height: 150px;
    background-color: #EFC7C8;
    color: #312B2C;
    font-style: normal;
    font-weight: bold;
    inline-box-align: initial;
    border: 2px solid #392727;
    border-radius: 7px;
}
.bn_style1 {
}
#form3 label {
    color: #B0731C;
    font-weight: bold;
    font-size: medium;
}
#form3 select:hover {
    background-color: #50ACC0;
    color: #2F2A2A;
    font-size: 15px;
}
#form3 #País {
    background-color: #BC5C5E;
    color: #FDFDFD;
    font-size: 15px;
    font-weight: bold;
}
#menu_style {
}
